.commande-Screen {
  display: flex;
  flex-direction: column;
  margin: 15px;
}
.commande-row {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
}
/* .quantité {
  font-size: 16px;
  color: black;
} */

.client-name {
  font-size: 23px;
  font-weight: bold;
  padding: 10px;
}
.commande-infos {
  background-color: #ebebeb;
  justify-content: space-between;
  padding: 10px;
  display: flex;
  border-radius: 10px;
  margin-bottom: 10px;
}
