.footer {
  background-color: #333;
  padding: 30px;

  display: flex;
}

.map {
  box-shadow: 0px 0px 2px blue;
  width: 80%;
  margin-left: 20px;
  margin-top: -40px;
}

.container {
  display: flex;
  flex-direction: row;
}

.networksContainer {
  display: flex;
  flex-direction: row;
  padding: 20px;
  justify-content: space-between;
}

.addressContainer {
  padding-left: 50px;
  padding-right: 50px;
}

.addressText {
  margin-bottom: 5px;
  width: 250px;
}

.networkText {
  width: 310px;
}

.contact {
  width: 65%;
}

.phoneMail {
  font-weight: bold;
  margin-bottom: 5px;
}

h2 {
  margin-bottom: 20px;
}

h3 {
  margin-bottom: 20px;
}

.txt-white {
  color: white;
}
