.menu {
  text-align: center;
  display: flex;
}

.left {
  width: 50%;
  background-color: gold;
}

.right {
  width: 50%;
  background-color: red;
}

h1 {
  margin-bottom: 30px;
}

.ingredient {
  width: 50%;
  background-color: green;
  padding-bottom: 5px;
}

.ingredient-list {
  display: flex;
  flex-wrap: wrap;
}
