.menu {
  padding-left: 10%;
  padding-right: 10%;
}

.pizzas {
  display: flex;
  flex-wrap: wrap;
  background-color: #f8f9fa;
}

.pizza-info {
  width: 50%;
  display: flex;
  margin-bottom: 20px;
}

.text {
  margin: 30px;
}

.pizza-img {
  padding-left: 20;
}
