.commande-infos {
  background-color: #ebebeb;
  padding: 10px;
  border-radius: 10px;
  margin: 0.5%;
  width: 30%;
}

.btn {
  padding: 5px;
  border-radius: 10px;
  text-align: center;
  cursor: pointer;
  margin: 0;
  margin-bottom: 5px;
}

.status {
  color: white;
  background-color: green;
  border: 2px solid green;
}

.status:hover {
  color: green;
  background-color: white;
}

.bl {
  color: white;
  background-color: dodgerblue;
  border: 2px solid dodgerblue;
}

.bl:hover {
  color: dodgerblue;
  background-color: white;
}
