.screen {
  display: flex;
  padding-top: 20px;
}

.menu {
  width: 75%;
  margin-left: 20px;
}

.cart {
  width: 25%;
  padding-right: 20px;
}

.pizzas-container {
  display: flex;
  flex-wrap: wrap;
  background-color: #ebebeb;
  margin-right: 20px;
}

h3,
p {
  color: #333;
}

h5 {
  font-weight: normal;
  padding-left: 100px;
}

.order-button {
  background-color: green;
  padding: 10px;
  border-radius: 20px;
  text-align: center;
  color: white;
  border: 2px solid green;
  cursor: pointer;
  margin: 0;
}

.order-button:hover {
  background-color: white;
  color: green;
}

i {
  font-size: small;
  color: silver;
}
