.each-slide > div {
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  height: 780px;
  width: 100%;
}
.Slidercontainer {
  width: 100%;
  padding: 0;
  /* padding-top: 15px; */
}
.welcome-parse {
  padding-top: 8px;
  text-align: center;
  color: white;
  position: absolute;
  z-index: 2;
  font-weight: bold;
  font-family: Impact;
  font-size: 100px;
  width: 50%;
  margin-top: 10%;
  margin-left: 25%;
}
